.container7 {
    color: white;
    width: 100%;
    max-width: 74rem;
    margin: 0 auto;
    font-family: sans-serif;
}

#projectHeadingContainer {
    display: flex;
    align-items: center;
    margin: 5rem 0;
}

#projectHeading {
    font-size: 3rem;
    font-weight: 800;
    margin-right: 1rem;
    font-family: sans-serif;
    transform: translateX(-100%);
    animation: slideIn 2s forwards;
}
@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.line {
    flex-grow: 1;
    height: 0.3rem;
    background-color: white;
}
